{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% for song in song_list %}
    <ul class="list-unstyled">
    <li class="media">
        <img src="{{ song.cover.url }}" class="mr-3" alt="{{ song.title }}" width="200" height="200">
        <div class="media-body">
        <a href={% url 'song_detail' song.slug %}>
            <h3 class="mt-0 mb-1">{{ song.title }}</h3>
        </a>
        <h6>Author : {{ song.author }}.</h6>

        <a href="{% url 'update_song' song.slug %}"> update </a>
        <a href="{% url 'delete_song' song.slug %}"> Delete </a>
        </div>
    </li>
    </ul>
    {% endfor %}
{% endblock content %}

