{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Song{% endblock title %}
{% block content %}
 <main role="main" class="container">
    <img src="{{ song.cover.url }}" class="mr-3" alt="{{ song.title }}" width="200" height="300">
      <h1 class="mt-5">{{ song.title }}</h1>
      <p class="lead"> By :{{ song.author }}</p>
    </main>
    <audio controls>
      <source src="{{ song.song_file.url }}" type="audio/mp3"> 
    </audio>

  <div>
  <h3>Comments ({{ song.comments.count }})</h3>
  {% for comment in song.comments.all %}
    <ul>
      
        <li>{{ comment.comment }} ({{ comment.author }})</li>
    </ul>
  {% endfor %}
  </div>
        <a href="{% url 'add_comment' song.slug %}" ><button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Comment</button></a>

{% endblock content %}
  